<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.min.css') }}"  media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />


  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Learn From Data</title>
</head>

<body>
<div class="container" align="center" style="min-height:100%">
    <h4 style="color: black" align="center">Cat & Dog Classification</h4>
  <div class="row">
    <div class="col l6 s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Upload an image</span>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <br>
                    <p>
                        <h3 align="center">select image</h3>
                    </p>
                    <br>
                    <input type="file" class="custom-file-input" name="image" id="image">
                    <br>
                    <div class="card-action">
                      <br><a href="#"><button type="submit" class="btn btn-primary">Predict</button></a><br>
                    </div>
                </form>

            </div>
          </div>
    </div>
      <div class="col l6 s12 m6">
     <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" style="max-height:300px;max-width:500px;" src="{{ url_for('static',filename='img/catAndDogImages/'+image_file_name) }}" onerror="this.onerror=null;this.src='{{ url_for('static',filename='img/catAndDogImages/abstract3.jpg') }}';">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Predicted Label: {{ label or 'Unknown' }} <i class="material-icons right">more_vert</i></span>
          <p><a href="#">Accuracy : {{ accuracy or '0.0' }} % </a></p>
            <br>
            <p style="font-style: italic">Breed : {{ breed or 'Unknown' }}</p>
        </div>
    </div>
  </div>

  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}" ></script>

</body>
</html>













